@import "tailwindcss";

:root {
  --primary: #151515;
  --secondary: #212121;
  --primary-foreground: #f5f5f5;
  --secondary-foreground: #e0e0e0;
  --muted: #5e5e5e;
  --gray: #3c3c3c;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-gray: var(--gray);
}
